<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/movie_1</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Fzy84C</property>
        <property name="hibernate.cglib.use_reflection_optimizer">true</property> <!--The application may be slower at startup if this is enabled, but with faster runtime performance.-->

        <!--Для автоматической генерации таблиц в БД (не для продакшна) -->
        <property name="hbm2ddl.auto">update</property>

        <mapping resource="com/madhusudhan/jh/domain/Movie.hbm.xml"/>
        <mapping class="com.madhusudhan.jh.domain.Trade"/>
        <mapping class="com.madhusudhan.jh.domain.CoursePK"/>
        <mapping class="com.madhusudhan.jh.domain.Course"/>
        <mapping class="com.madhusudhan.jh.domain.showroom.Car"/>
        <mapping class="com.madhusudhan.jh.domain.showroom.Showroom"/>
        <!-- Сущность описана через аннотации -->
    </session-factory>
</hibernate-configuration>